<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto</title>
    <link rel="stylesheet" href="static/pico.css">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    
    <header>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/purchase">Purchase</a></li>
                  <li><a href="/status">Status</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </nav>

        </div>

    </header>
    
    <section class="container">

        {% block section %}

        {% endblock %}
        
    </section>

    <footer>
        <div class="container">
        &copy; 2024 Kidu´
        </div>

    </footer>


</body>
</html>