{% extends "base.html" %}

{% block section %}

  <h1>Movements List</h1>

  <table role="grid">
        <tr style="background-color: #589edb2e;">
          <th>DATE</th>
          <th>TIME</th>
          <th>COIN FROM</th>
          <th>QUANTITY FROM</th>
          <th>COIN TO</th>
          <th>QUANTITY TO</th>
        </tr>
      <tbody>
        <!-- this loop goes through the list of dic from routes index-->
        {% for item in inform %}
        <tr>
          <td>{{ item.date }}</td>
          <td >{{ item.hour }}</td>
          <td>{{ item.coinFrom }}</td>
          <td>{{ item.quantityFrom }}</td>
          <td>{{ item.coinTo }}</td>
          <td>{{ item.quantityTo }}</td>
        </tr>
        {% endfor %}

        </tfoot>
  </table>

{% endblock %}